<div class="container">
    <article>
        <div class="row">
            <figure class="col-4">
                <img [src]="post.imagen" [alt]="post.titulo">
            </figure>
            <div class="texto col-8">
                <h2>{{post.titulo}}</h2>
                <p>{{post.autor}} </p>
                <p [innerHTML]="post.texto | preview"></p>
                <p>Categoría: {{post.categoria}}</p>
                <button class="btn" [routerLink]="['/posts', post.id]">Leer más</button>
            </div>
        </div>

    </article>
</div>