:root {
    --blue: #4D96FF;
    --green: #6BCB77;
    --yellow: #FFD93D;
    --red: #FF6B6B;
    --pastelBlue: #9ADCFF;
    --pastelGreen: #CBFFA9;
    --pastelYellow: #FFF89A;
    --pastelRed: #FF9B9B;
    --darkBlue: #6266a6;
    --darkGreen: #3b6d42;
    --darkYellow: #b69616;
    --darkRed: #6a404a;
    --pad: 1.25rem;
    --size:
}