:root {
    --blue: #4D96FF;
    --green: #6BCB77;
    --yellow: #FFD93D;
    --red: #FF6B6B;
    --pastelYellow: #fff7cc;
    --formBlue: #4582b9;
    --darkBlue: #005277;
    --purple: #6266a6;
    --darkRed: #6a404a;
    --black: #212529;
    --pad: 1.25rem;
    --trans: rgba(255, 255, 255, 0.815);
}