nav div.collapse ul {
    width: 100%;
    justify-content: end;
}

.navbar-nav li {
    padding: 0.625rem 1.25rem;
    color: var(--black);

    &:hover {
        cursor: pointer;
        transform: scale(1.25);
    }
}

.active {
    font-weight: bold;
}