<div lc-helper="background" class="container-fluid py-5 mb-4 d-flex justify-content-center" id="hero">
    <div class="secondary-div p-5 mb-4 lc-block col-xxl-7 col-lg-8 col-12">
        <div class="lc-block">
            <div editable="rich">
                <h2 class="fw-bolder display-3">Internet of things, internet of life</h2>
            </div>
        </div>
        <div class="lc-block col-md-8">
            <div editable="rich">
                <p class="lead">El internet de las cosas (IoT) representa una red inteligente que va más allá de la
                    conectividad de dispositivos cotidianos: sensores avanzados y dispositivos interconectados se
                    despliegan por numerosos ámbitos, desde la agricultura hasta la conservación de la biodiversidad.
                    IoT tiene multitud de aplicaciones...</p>
            </div>
        </div>
        <div class="lc-block">
            <a class="btn btn-dark" href="#" role="button" [routerLink]="['/posts']">¡Entra y explora!</a>
        </div>
    </div>
</div>