<div class="container">

    <form [formGroup]="nuevoPost" (ngSubmit)="onSubmit()">


        <div class="row">


            <div class="mb-4 col-xs-12 col-md-4">
                <label class="form-label">Título</label>
                <input type="text" class="form-control" formControlName="titulo">
            </div>

            <div class="mb-4 col-xs-12 col-md-4">
                <label class="form-label">Autor</label>
                <input type="text" class="form-control" formControlName="autor">
            </div>
        </div>



        <div class="row">
            <div class="mb-4 col-xs-12 col-md-4">
                <label class="form-label">Contenido</label>
                <p-editor [style]="{ height: '320px' }" formControlName="texto"></p-editor>
            </div>
            <div class="mb-4 col-xs-12 col-md-4">
                <label class="form-label">Imagen (URL)</label>
                <input type="text" class="form-control" formControlName="imagen">
            </div>

        </div>

        <div class="row">
            <div class="mb-4 col-xs-12 col-md-4">
                <label class="form-label">Fecha</label>
                <input type="date" class="form-control" formControlName="date">
            </div>
            <div class="mb-4 col-xs-12 col-md-4">
                <label class="form-label">Categoria</label>
                <select class="form-select" formControlName="categoria">
                    <option value="Biodiversidad">Biodiversidad</option>
                    <option value="Agricultura">Agricultura</option>
                    <option value="Ganadería">Ganadería</option>
                    <option value="Otros">Otros</option>
                </select>
            </div>
        </div>

        <button type="submit" value="Enviar" class="btn btn-success">Enviar</button>


    </form>
</div>