<div class="lista-posts">
    <div class="select offset-8 mb-4 col-xs-12 col-md-4">
        <label class="form-label">Selecciona una categoría</label>
        <select class="form-select" (change)="onChange($event)">
            <option value="Todos">Todas</option>
            <option *ngFor="let item of arrayCategorias">{{item}}</option>
        </select>
    </div>

    <div class="posts">
        <app-post-card *ngFor="let item of postsRecuperados" [post]="item"></app-post-card>
    </div>
</div>